<header class="container ">
    <nav class="navbar navbar-expand-md navbar-light ">
        <a routerLink = "/home"class="navbar-brand"><img src="../../../assets/icons/log1.png" alt=""></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ml-auto">
                <a routerLink = "/home" routerLinkActive="active" class="nav-item nav-link ">Home</a>
                <a routerLink = "/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                <a routerLink = "/menu" routerLinkActive="active" class="nav-item nav-link">Menu</a>
                <a routerLink = "/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                <a routerLink = "/cart" routerLinkActive="active" class="nav-item nav-link"><i-feather name="shopping-cart"></i-feather><span class="badge badge-primary">{{cartNumber}}</span></a>
            </div>
        </div>
    </nav>
</header>