<app-header></app-header>
<section id="contact" class="mt-5">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <!-- Contact Left -->
                    <div id="contact-left">

                        <div class="vertical-heading">
                            <h5>Who We Are</h5>
                            <h2>Get<br>In <span style="font-weight: 700;">Touch</span></h2>
                        </div>
                        <p class="mt-lg-5 pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias modi est itaque aliquam sit, minima esse nihil mollitia no.</p>

                        <div id="offices">

                            <div class="row">

                               
                                <div class="col-md-6">

                                    <div class="office">
                                        <h4>Austria</h4>
                                        <div class="office-details">
                                            <p>	<i-feather name="phone-call" class="mr-2"></i-feather> <span>+(63) 618 876 74 871</span></p>
                                            <p>	<i-feather name="mail" class="mr-2"></i-feather><span>support@soul.com</span></p>
                                            <p>	<i-feather name="map-pin" class="mr-2"></i-feather><span>Soul Resto,opp to Schule, Herrengasse <br>Graz, Austria</span></p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                     

                    </div>

                </div>
                <div class="col-md-6">

                    <!-- Contact Right -->
                    <div id="contact-right">

                        <form>
                            <h4>Send Message</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repell.</p>

                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone No.">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Message"></textarea>
                            </div>

                            <div id="submit-btn">
                                <a class="btn btn-general btn-yellow" href="#" title="Submit" role="button">Submit</a>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<app-footer></app-footer>