<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" style="    z-index: 2344;">
        <div class="sidebar-header">
            <h3 style="    position: fixed;
            width: 251px;">Soul-Resto Dashboard</h3>
            <strong>SR</strong>
        </div>

        <ul class="list-unstyled components" style="margin: 85px 0;
        padding: 25px 1px;    position: fixed;
    width: 251px;">
            <li class="active" style=" padding: 18px 0;"   >
                <a style="margin: 15px 0;margin-left: 28px;" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdwn-toggle">
                    <i-feather name="grid"></i-feather>
                    Dashboard
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu" style="background: #1d2531;    margin-top: 18px;">
                    <li style="    padding: 18px 51px;">
                        <a routerLink="/admin">Home</a>
                    </li>
                </ul>
            </li>
            <li style=" padding: 18px 0;">
                <a style="margin: 15px 0;margin-left: 28px;" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdwn-toggle">
                    <i-feather name="edit"></i-feather>
                    App
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu" style="background: #1d2531;    margin-top: 18px;">
                    <li  style="    padding: 18px 51px;">
                        <a routerLink="/kitchen">Kitchen</a>
                    </li>
                    <li  style="    padding: 18px 51px;">
                        <a routerLink="/hotel">Restuarant</a>
                    </li>
                    <li  style="    padding: 18px 51px;">
                        <a routerLink="/review">Reviews</a>
                    </li>
                </ul>
            </li>
            <li style="  padding: 18px 0;">
                <a style="margin: 15px 0;margin-left: 28px;" href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdwn-toggle">
                    <i-feather name="copy"></i-feather>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pages" style="background: #1d2531;    margin-top: 18px;">
                    <li  style="    padding: 18px 51px;">
                        <a routerLink="/settings">User Profile</a>
                    </li>
                    <li  style="    padding: 18px 51px;">
                        <a routerLink="/adminlogin">Authentication</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" style="width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light " >
            <div class="container-fluid">
                <header class="mb-5">
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="padding-left: 300px!important;color: #8a909d; background-color: white;     border-bottom: 1px solid #e5e9f2; ">
                        <div class="container-fluid"> 
                            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                            </button> -->
                            <div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: space-between;">
                                <form class="d-flex me-auto mb-2 mb-md-0" style="    position: relative;
                                top: 9px;">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" style="border: none;
                                        background-color: transparent;">
                                          <span class="input-group-text" id="basic-addon1" style="border: none;
                                          background-color: transparent;"><img src="../../../assets/admin/search.svg" alt=""></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" style="border: none;
                                        background-color: transparent;">
                                      </div>
                                </form>
                                <ul class="navbar-nav ">
                                    <li class="nav-item" style="    padding: 0 10px;"> <a class="nav-link active" aria-current="page" href="#"><img src="../../../assets/admin/bell.svg" alt=""></a>
                                    </li>
                                    <li class="nav-item" style="    padding: 0 10px;"> <a class="nav-link" routerLink="/settings"><img src="../../../assets/admin/settings.svg" alt=""></a>
                                    </li>
                                    <li class="nav-item" style="position: relative; top: 10px;    padding: 0 10px;"> 
                                    <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color: #1b223c;
                                        padding: 0px .5rem;
                                        font-size: 17px;
                                        font-weight: 600;">Admin</a> -->
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #1b223c;
                                            padding: 0px .5rem;
                                            font-size: 17px;
                                            font-weight: 600;">
                                                Admin
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style=" 
                                            left: -61px;
                                            top: 43px;
                                        ">
                                              <a class="dropdown-item" href="#" style="    color: #8a909d;">admin@gmail.com</a>
                                              <hr>

                                              <a class="dropdown-item" href="#" style="    color: #8a909d;">Email</a>
                                              <a class="dropdown-item" href="#" style="    color: #8a909d;">Settings</a>
                                              <hr>
                                              <a class="dropdown-item" href="#" style="    color: #8a909d;">Logout</a>
                                            </div>
                                          </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </header>
<!-- 
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button> -->
            </div>
        </nav>
        <div style="display: block;">
           <main>
               <div class="row">
                    <div class="col-3">
                        <div class="card  mb-4">
                            <div class="card-body">
                                <h2 class="mb-1">71,503</h2>
                                <p>Total booking</p>
                                <div class="chartjs-wrapper">
                                    <app-barchart></app-barchart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card  mb-4">
                            <div class="card-body">
                                <h2 class="mb-1">9,503</h2>
                                <p>Total expenses</p>
                                <div class="chartjs-wrapper">
                                    <app-dualline></app-dualline>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card  mb-4">
                            <div class="card-body">
                                <h2 class="mb-1">Total profit</h2>
                                <p>Monthly total order</p>
                                <div class="chartjs-wrapper">
                                    <app-linechart></app-linechart>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
               <div class="row mt-4">
                <div class="col-xl-8 col-md-12">
                    <!-- Sales Graph -->
                    <div class="card p-4 card-default" style="width:1000px;">
                        <div class="card-header">
                            <h2 style="    font-size: 18px;
                            font-weight: bold;">Dish Of The Year</h2>
                        </div>
                        <div class="card-body">
                            <app-saleschart></app-saleschart>
                        </div>
                        <div class="card-footer d-flex flex-wrap bg-white p-0" style="color: #8a909d;">
                            <div class="col-6 px-0">
                                <div class="text-center p-4">
                                    <h4>$6,308</h4>
                                    <p class="mt-2">Total orders of this year</p>
                                </div>
                            </div>
                            <div class="col-6 px-0">
                                <div class="text-center p-4 border-left">
                                    <h4>$70,506</h4>
                                    <p class="mt-2">Total revenue of this year</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <!-- Recent Booking Table -->
                        <div class="card card-table-border-none recent-orders p-4" id="recent-orders">
                            <div class="card-header justify-content-between">
                                <h2>Recent Bookings</h2>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                <table class="table card-table table-striped table-responsive table-responsive-large" >
                                    <thead>
                                        <tr>
                                            <th>Table ID</th>
                                            <th class="d-none d-lg-table-cell">Order Date</th>
                                            <th class="d-none d-lg-table-cell">No of Persons</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>24541</td>
                                            <td class="d-none d-lg-table-cell">Jan 20, 2021</td>
                                            <td class="d-none d-lg-table-cell">05</td>
                                        </tr>
                                        <tr>
                                            <td>24542</td>
                                            <td class="d-none d-lg-table-cell">Nov 15, 2020</td>
                                            <td class="d-none d-lg-table-cell">03</td>
                                        </tr>
                                        <tr>
                                            <td>24543</td>
                                            <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                            <td class="d-none d-lg-table-cell">5</td>
                                        </tr>
                                        <tr>
                                            <td>24543</td>
                                            <td class="d-none d-lg-table-cell">Dec 13, 2018</td>
                                            <td class="d-none d-lg-table-cell">02</td>
                                        </tr>
                                        <tr>
                                            <td>24544</td>
                                            <td class="d-none d-lg-table-cell">Dec 23, 2018</td>
                                            <td class="d-none d-lg-table-cell">02</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  mt-5">
                    <div class="col-12">
                        <!-- Recent Delivery Table -->
                        <div class="card card-table-border-none recent-orders p-4" id="recent-orders">
                            <div class="card-header justify-content-between">
                                <h2>Recent Deliveries</h2>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                <table class="table table-striped card-table table-responsive table-responsive-large" >
                                    <thead>
                                        <tr>
                                            <th>Delivery Guy ID</th>
                                            <th class="d-none d-lg-table-cell">Order Date</th>
                                            <th class="d-none d-lg-table-cell">Area</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>24541</td>
                                            <td class="d-none d-lg-table-cell">Jan 20, 2021</td>
                                            <td class="d-none d-lg-table-cell">Rajajinagar</td>
                                        </tr>
                                        <tr>
                                            <td>24542</td>
                                            <td class="d-none d-lg-table-cell">Feb 15, 2021</td>
                                            <td class="d-none d-lg-table-cell">Kalyanagar</td>
                                        </tr>
                                        <tr>
                                            <td>24543</td>
                                            <td class="d-none d-lg-table-cell">Mar 18, 2021</td>
                                            <td class="d-none d-lg-table-cell">Vijaynagar</td>
                                        </tr>
                                        <tr>
                                            <td>24543</td>
                                            <td class="d-none d-lg-table-cell">Mar 13, 2021</td>
                                            <td class="d-none d-lg-table-cell">Bsk</td>
                                        </tr>
                                        <tr>
                                            <td>24544</td>
                                            <td class="d-none d-lg-table-cell">Mar 23, 2020</td>
                                            <td class="d-none d-lg-table-cell">02</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </main>      
        </div>
          
    </div>
</div>