<app-header></app-header>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body p-5">
               
                <ng-container *ngIf="cartArr.length != 0; else emptyState">
                    <div *ngFor="let data of cartArr; let i = index" class="my-2 d-flex justify-content-between align-items-center">
                        <div>
                            <img [src]="data.src" alt="">
                            <span>{{data.name}}</span>
                            <span class="badge badge-danger" (click) = "removeItem(i)">Remove</span>
                        </div>

                        <div class="d-flex">
                            <input type="number" [ngModel] = "data.quantity" min="1" (change)="getData(data.quantity,i,$event)" style="width: 100px;">
                            <p class="m-0 ml-3">&#x20B9; {{data.price * data.quantity}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="my-2 d-flex justify-content-end align-items-center">
                        <div>
                            <div class="d-flex">
                                <p class="m-0 mr-3">Item total</p>
                                <p class="m-0">&#x20B9; {{totalvalue()}}</p>
                            </div>
                        </div>
                    </div>
                    <button routerLink = "/payment" type="button" class="btn  btn-block">Proceed to pay</button>
                </ng-container>
                <ng-template #emptyState>
                    <div class="text-center ">
                        <img src="../../assets/icons/carts.png" alt="" style="    width: 29%;">
                    </div>
                   <h3 class="text-center mt-3" style="
                   color: #f4c613;
               ">Your cart is empty</h3>
                </ng-template>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>