
.success-page{
  max-width:35%;
  display:block;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  margin-top: 16vh;
}
.success-page img{
  max-width:62px;
  display: block;
  margin: 0 auto;
}

.btn-view-orders{
  display: block;
  border:1px solid #f4c613;
  width:100px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 10px;
  color:#fff;
  background-color:#f4c613;;
  text-decoration: none;
  margin-bottom: 20px;
}
h2{
  color:#f4c613;
    margin-top: 25px;

}
a{
  text-decoration: none;
}
