<div class="container my-5">
    <div class="row">
        <div class="col-6 animated wow slideInLeft">
            <h2><strong>Dine In</strong></h2>
        </div>
        <div class="col-6 animated wow slideInRight">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur harum libero et nostrum sequi consequatur, tempore accusamus ab esse, voluptatem laudantium voluptas rerum? Laborum id ad alias saepe nemo,alias saepe ne consequatur.</p>
           <p>
 
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores ad culpa similique, ratione dicta. Cumque, officia. Velit et inventore hic, unde, eum ea! Vitae dolores culpa molestias, in ratione.</p>
        </div>
    </div>
    <div class="mt-5 animated wow fadeInUp">
        <img src="../../assets/images/Dinein/dine01.jpg" style="width: 100%;height: 700px;" alt="">
    </div>
 
    <div class="container  py-5">
     <section class="offers">
         <div class="row">
             <div class="col-12 col-lg-6  animated wow slideInLeft">
                 <div class="text-rotation">
                     <div class="rotateable">
                         <p class="offer_title mt-0 mb-1 mb-lg-5">HOW DO WE LOOK</p>
                     </div>
                     <div class="edge-text">
                         <p class="mt-0 mb-1 amazing">Come</p>
                         <p class="Month my-0" >Inside To Explore</p>
                     </div>
                     
                 </div>
                 <p class="about-txt">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos expedita totam cum quidem autem alias dolorum error a quia optio eligendi, amet animi reprehenderit, quaerat.
                 </p>
 
             </div>
             <div class="col-12 col-lg-6 pt-3 animated wow slideInRight">
              <div>
                 <carousel [loop]="true" autoplay="true" height="300" cellsToShow="2">
                     <div class="carousel-cell" *ngFor="let slide of offerData">
                         <div style="position: relative;">
                             <div class="slide-image-container">
                                 <img [src]="slide.src"  >
                             </div>
                             <div class="slide-hidden-container">
                                 <p class="m-0 mb-2  book-title">Book a table to relish us!</p>
                                 <p class="m-0 mb-5  book-click">Click on the Book Now Button.</p>
                                 <div class="book-btn" routerLink = "/booking">
                                     Book Now
                                 </div>
                             </div>
                         </div>
                     </div>
                 </carousel>
                 
 
              </div>
              </div>
         </div>
      </section>
     
 </div>
 </div>