<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <h2><strong>Dine In</strong></h2>
        </div>
        <div class="col-6">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur harum libero et nostrum sequi consequatur, tempore accusamus ab esse, voluptatem laudantium voluptas rerum? Laborum id ad alias saepe nemo,alias saepe ne consequatur.</p>
           <p>
 
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores ad culpa similique, ratione dicta. Cumque, officia. Velit et inventore hic, unde, eum ea! Vitae dolores culpa molestias, in ratione.</p>
        </div>
    </div>
    <div class="mt-5">
        <img src="../../assets/images/about.jpg" style="width: 100%;" alt="">
    </div>
 
    <div class="container  py-5">
     <section class="offers">
         <div class="row">
             <div class="col-12 col-lg-6 ">
                 <div class="text-rotation">
                     <div class="rotateable">
                         <p class="offer_title mt-0 mb-1 mb-lg-5">HOW DO WE LOOK</p>
                     </div>
                     <div class="edge-text">
                         <p class="mt-0 mb-1 amazing">Come</p>
                         <p class="Month my-0" >Inside To Explore</p>
                     </div>
                     
                 </div>
                 <p class="about-txt">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos expedita totam cum quidem autem alias dolorum error a quia optio eligendi, amet animi reprehenderit, quaerat.
                 </p>
 
             </div>
             <div class="col-12 col-lg-6 pt-3 ">
              <div>
                 <carousel [loop]="true" autoplay="true" height="300" cellsToShow="2">
                     <div class="carousel-cell" *ngFor="let slide of offerData">
                         <div>
                             <div>
                                 <img [src]="slide.src" src="../../assets/images/Dinein/">
                             </div>
                             <div>
                                 <p style="background-color: red;">sdf</p>
 
                             </div>
                         </div>
                     </div>
                 </carousel>
                 
 
              </div>
              </div>
         </div>
      </section>
     
 </div>
 </div>