#booking-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#booking-right h4 {
    font-size: 24px;
    margin: 22px 0;
    color: #f4c613;
}

#booking-right p {
    margin-bottom: 25px;
}

#booking-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    
    font-size: 12px;
    line-height: 24px;
}

#booking-right form textarea.form-control {
    min-height: 300px;
}

/* Adjusting the shadow of the modal content - also removing border radius */
.modal-content{
  /*  box-shadow: 0 0 5px rgba(0, 0, 0, .5); */
    border-radius: 0;
  }
  
  /* Removing the border radius on btns just in modal */
  .modal-content .btn{
    border-radius: 0;
  }
  
  /* Adjusting  the close button */
  .close{
    font-size: 30px;
    font-weight: 300;
  }
  
  .modal-header .close{
    margin-top: -10px;
  }


 


/* =========================================
                Contact
============================================ */


/* Contact Left */

#contact-left p {
    margin: 25px 0 20px 0;
}

ul.office-details {
    list-style: none;
    padding: 0;
}

ul.office-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul.office-details li i {
    font-size: 20px;
    width: 45px;
}

#contact-left ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-left ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}


/* Contact Right */

#contact-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#contact-right h4 {
    font-size: 24px;
}

#contact-right p {
    margin-bottom: 25px;
}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 164px;
}

